.NavItem { 
    color: black;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}