.ProductList { 
    display: flex;
    flex-direction: row;
    flex: 0 0 30%;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-items: left;
    justify-content: space-around;
    padding: 0 15vw;
}

.title { 
    margin-top: 69px;
}