.h1 {
    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 61px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #6C6C6C;
}

.h2 {
    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.h3 {
    font-family: Scheherazade;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
}