.Product {
    &Container { 
      padding: 2px;
      height: 250px;
      width: 250px;
      background: linear-gradient(45deg, #8D6D1C, #FFEAD1, #8D6D1C );
      border: solid 10px #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin:65px 63px;
    }

    margin: auto;
    padding: 10px;
    position: relative;
    height: 100%;

    background: #fff;
  }