.Header { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 32px 0 25px 0;
}