.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 15vw;
    background-color: #EDE8E6;
    color: #6C6C6C;
    text-transform: uppercase;
}

ul.pagesList { 
    list-style: square inside url("/Individual.svg");
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.3em;
    margin: 0;
}

ul.pagesList > li span { 
    position: relative;
    left: 18px;
}

div.social {
    display: flex;
    flex-direction: column;
    
    & > span {
        &:not(.icon) { 
            display: block;
        }
        
        &.title { 
            font-size: 18px;
            line-height: 30px;
            text-align: right;
            letter-spacing: 0.3em;
        }
        
        &.email,
        &.phone { 
            font-size: 18px;
            line-height: 22px;
            text-align: right;
            letter-spacing: 0.1em;
            text-transform: lowercase;
        }
    }

    & span.icon { 
        margin-left: 18px;
    }
    
    & > .strip { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 27px;
    }
}