.CategoryList { 
    display: flex;
    flex-direction: row;
    flex: 0 0 30%;
    flex-wrap: wrap;
    justify-items: left;
    justify-content: space-around;
    padding: 0 15vw;
    text-align: left;
}

.CategoryListContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5rem 0;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}